*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.layout{
    width: 1200px;
    margin: 0 auto;
}

    /*header*/
html,body{
    height: 100%;
}
header{
    height: 100%;
    background: url(TBBT.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}
header::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
header img{
    float: left;
    height: 120px;
    width: 270px;
    opacity: 0.9;
}
header ul{
    float: right;
}
header li{
    float: left;    
    margin-top: 15px;
    margin-right: 20px;
}
header li>a{
    padding: 10px 20px; 
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    border-radius: 5px;
}
header li>a:hover{
    opacity: 0.7;
    background: #FEC026;
    color: #fff;
}
header>div{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
header>div>h1{
    font-size: 90px;
    color: #00ADFD;
}
header>div>h2{
    font-size: 72px;
    color: #fff;
}
header>div>a{
    display: inline-block; 
    margin-top: 60px;
    padding: 20px 40px;
    font-size: 20px;
    background: #FEC026;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}
header>div>a:hover{
    background: #fff;
    color: #000000;
}
    /*introduce*/
section{
    text-align: center;
}
section>h3{
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 100px;
}
.introduce>p{
    margin: 0px 400px;
    font-size: 18px;
    margin-bottom: 100px;
    margin-top: 20px;
    line-height: 2;
}
.introduce li>.iconfont{
    font-size: 60px;
    color: #fff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    background: #FEC026;
    padding: 20px 0px;
}
.introduce li{
    float: left;
    width: 25%;
    padding: 10px 20px;
}
.introduce  li>h4{
    margin-top: 30px;
}
.introduce li>p{
    font-size: 14px;
    padding-top: 10px;
    line-height: 2;
}
    /*photo*/
.photo{
    height: 100%;
    background: #F7F7F7;
}
.photo>h3{
    margin-top: 150px;
    padding-top: 150px;
}
.photo a{
    display: block;
    height: 200px;
}
.photo img{
    height: 100%;
    width: 100%;
}
.photo ul>li{
    float: left;
    width: calc(33.3% - 40px);
    margin: 20px;
}
.photo img:hover{
    color: #FEC026;
    opacity: 0.7;
}
.photo .padding{
    padding-bottom: 150px;
}
    /*Timeline*/
.Timeline>p{
    font-size: 20px;
    padding-top: 20px;
}
.Timeline img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 7px solid #F1F1F1;
    margin: 50px 0px;
}
.Timeline div{
    padding: 60px 0px;
    margin-left: 220px;
    margin-right: 220px;
}

.Timeline li:nth-child(odd) img{
    float: right;
}
.Timeline li:nth-child(odd){
    padding-right: calc(50% - 90px);
    text-align: right;
}
.Timeline li:nth-child(even) img{
    float: left;
}
.Timeline li:nth-child(even){
    padding-left: calc(50% - 90px);
    text-align: left;
}
.Timeline div>h4{
    padding: 10px 0px;
}
.Timeline div>h5{
    padding: 10px 0px;
}
.Timeline div>p{
    font-size: 14px;
    line-height: 2;
}
.Timeline li>span{
    display: inline-block;
    text-align: center;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: #FEC026;
    border: 7px solid #F1F1F1;
    padding: 70px 0px;
    font-size: 24px;
    font-weight: bold;
    margin: 50px 0px;
}
.Timeline li{
    position: relative;
}
.Timeline  li::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 228px;
    display: inline-block;
    height: 105px;
    width: 2px;
    background-color: #F1F1F1;
}
.Timeline  li:last-child::before{
    height: 0px;
}
    /*Role introduce*/
.role{
    height: 100%;
    background: #F7F7F7;
}
.role > h3{
    padding-top: 150px; 
    padding-bottom: 30px;
}
.role li{
    width: 25%;
    float: left;
}

.role img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
}
.role h4{
    font-size: 18px;
    padding-top: 20px;
}    
.role p{
    font-size: 14px;
    color: #666;
    padding-bottom: 30px;
    padding-top: 10px; 
}    
.role li:last-child{
    padding-bottom: 150px; 
}
.role>p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
